<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiction.mapper.BookMapper">
    <insert id="addBook" parameterType="com.fiction.bean.Book">
        insert into book(name, author) value (#{name}, #{author})
    </insert>

    <select id="getAllbooks" resultType="com.fiction.bean.Book">
        select *
        from book
    </select>
</mapper>